RunWave.json
{
    "name": "RunWave",
    "properties": {
        "activities": [
            {
                "name": "RunTasks",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "LookupTasks",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('LookupTasks').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "CopyDataDynamic",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": {
                                        "value": "@item().TaskSQL",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "tableOption": "autoCreate",
                                    "disableMetricsCollection": false
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "GenericSQL2",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DynamicTable",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "TargetTable": {
                                            "value": "@item().TaskTarget",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "LookupTasks",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderStoredProcedureName": "[dbo].[GetTasks]",
                        "storedProcedureParameters": {
                            "Wave": {
                                "type": "Int32",
                                "value": {
                                    "value": "@pipeline().parameters.WaveNumber",
                                    "type": "Expression"
                                }
                            }
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "GenericSQL2",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            }
        ],
        "parameters": {
            "WaveNumber": {
                "type": "int",
                "defaultValue": 1
            }
        },
        "annotations": [],
        "lastPublishTime": "2021-06-02T19:13:57Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}
